.catering-about-sec{

    min-height: 20rem;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    color: white;
    background-image: url(../images/catering\ background\ 2.jpg);
    background-size: cover;
    background-position: center;
}